a {
    text-decoration: none; /* Remove underline */
    color: #36454F; /* Use the default text color */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: color 1.05s, font-size 0.125s;
}
a:hover{
    color: #696969;
    font-size: 15px;
}

.logo:hover{
    font-size: 22px;
}


/* For Index photo */
.headphoto{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backimg{
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.text-phrase{
    padding-top: 150px;
    text-align: center;
    margin: 0 1rem;
}

.textindex{
    font-size: xx-large;
    color: #f0f0f0;
}

@media (max-width: 768px) {
    .backimg {
        height: 50vh; /* Adjust as needed */
    }

    .text-phrase {
        padding-top: 100px; /* Adjust as needed */
    }

    .textindex {
        font-size: large; /* Adjust as needed */
    }

    .textc{
        margin: 0;
        text-align: center;
        color: #343434;
    }
}

@media(max-width:700px){
    .about-section{
        padding: 6.25rem;
    }
}


.fixed-image {
    width: 100%; /* Adjust the width as per your requirement */
    height: 12rem; /* Adjust the height as per your requirement */
    object-fit: fill; /* Maintain aspect ratio and cover the entire space */
    filter: brightness(90%); /* Adjust the brightness percentage to make the image darker */
    z-index: 0;
    transition: transform 0.3s ease; /* Add a transition for smooth hover effect */
}
a:hover .fixed-image{
transform: scale(1.05); /* Scale the image on hover */
}

.aboutimg{
    width: 100%; /* Adjust the width as per your requirement */
    height: 100%; /* Adjust the height as per your requirement */
    object-fit: fill; /* Maintain aspect ratio and cover the entire space */
    filter: brightness(90%); /* Adjust the brightness percentage to make the image darker */
    z-index: 0;
    transition: transform 0.3s ease; /* Add a transition for smooth hover effect */
}

.aboutimg:hover{
    transform: scale(1.05); /* Scale the image on hover */
}

.background{
    background-image:
     linear-gradient(
            to bottom,#F0F0F0, #f8f8ff, #E0E0E0
        );
}

h3{
    margin: 1rem 0rem;
    font-size: x-large;
    font-weight: bold;
    color: #36454F;
}

.post-title{
    margin: 1rem 0rem;
    font-size: large;
    font-family: Tahoma, sans-serif;
}

.post-subtitle{
    font-size: large;
    font-family: Tahoma, sans-serif;
}

.subheading{
    font-style: italic;
    font-size: larger;
}

section{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar{
    /* background-color: #f8f8ff; */
    background-image: linear-gradient(
        to bottom, #f8f8ff, #F0F0F0
    );
}

.roundimg{
    border: #f0f0f0 2px solid;
    border-radius: 50%;
    filter: brightness(90%); /* Adjust the percentage to change the darkness */
    transition: transform 0.3s ease; /* Add a transition for smooth hover effect */
}

a:hover .roundimg{
    transform: scale(1.05); /* Scale the image on hover */
}

.custom-card {
    height: 100%;
    width: 17.5rem; /* Set the desired height for the card */
}

.custom-card-img {
    height: 16.5rem; /* Set the desired height */
    object-fit: fill;
    filter: brightness(90%); /* Adjust the percentage to change the darkness */
    transition: transform 0.3s ease; /* Add a transition for smooth hover effect */
}

a:hover .custom-card-img{
    transform: scale(1.05); /* Scale the image on hover */
}

.custom-img{
    width: 100%; /* Specify the width you want */
    height: 15rem; /* Specify the height you want */
    object-fit: cover;
}


.postimg{
    height: 400px; object-fit: fill;
}

@media(max-width:500px){
    .postimg{
        height: 250px;
    }
}

.cutnav{
    margin-bottom: -0.02rem;
}

/*For Featured content*/

.marginpadding{
    margin: 0rem 1.8rem 0rem 4rem ;
}

@media (max-width: 1000px) {
    .marginpadding {
        /* Your styles for max width of 1000px */
        margin: 0rem 0.05rem /* Add your adjusted margin here */;
    }
    h3{
        margin: 2rem 0.05rem;
    }
    .custom-card {
        height: 100%;
        width: 100%; /* Set the desired height for the card */
        margin-left: 0.35rem;
    }
    .size{
        margin: 0.75rem;
    }
}

@media (max-width: 650px) {
    .size {
        margin: 1rem 0.05rem 0.01rem 0.05rem;
        font-size: smaller;
    }
    .custom-card-img{
        height: 15rem;
    }
}

.noflow{
    max-width: 9.5rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.fontsizee{
    font-size:small;
}

.fontsizeetitle{
    font-size:large;
}

/*For Newsletter*/

.newsletterbackground
{
  padding:2%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-subscribe
{
  max-width:600px;
  margin:0 auto
}
.form-subscribe .form-control
{
  background-color:hsla(0,0%,100%,.8);
  padding-left:24px;
  padding-right:24px;
  letter-spacing:1px;
  border:none;
  border-top-left-radius:36px;
  border-bottom-left-radius:36px
}
.form-subscribe .form-control.focus,.form-subscribe .form-control:focus
{
  z-index:2;
  background-color:hsla(0,0%,100%,.8)
}
.form-subscribe .btn
{
  border-top-right-radius:36px;
  border-bottom-right-radius:36px;
  background:#f8f8ff;
  color: #696969;
  height:46.5px;
  transition: border-color 1s;
}
.form-subscribe .btn:hover
{
 border-color: #f8f8f8;
}

.showmorebutton{
  background: #ffffff;
  border:#f0f0f0 2px solid ;
  padding: 1.25rem;
  color: #696969;
  cursor: pointer;
  transition: padding 1s, border-color 1s;
}

.showmorebutton:hover{
    color: #36454F;
    background: #f0f0f0;
    border:#ffffff 2.5px solid ;
}

.catbackground{
        background-image: linear-gradient(
            to top, #f8f8ff, #ffffff 20%
        );
}

.cardbackground{
    background-image: linear-gradient(
        to top right, #f8f8ff, #ffffff
    );
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: linear-gradient(
            to bottom, #E0E0E0, #FFFFFF
        );
}

  @media (max-width: 1200px) { /* Adjust the max-width value as needed */
      .margintop{
          margin-top: 4rem;
      }
      .dontshow{
          display: none;
      }
  }

  @media(max-width: 480px){
    .showmorebutton{
        padding: 1.5rem;
      }
  }

  @media (max-width: 770px) {
    .justify-content-cent {
      justify-content: center;
    }
  }

    .text-c{
        text-decoration: none; /* Remove underline */
        color: #36454F; /* Use the default text color */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        transition: color 1.05s, font-weight 0.125s;
    }

    .bubble {
        background-color: #E0E0E0;
        padding: 2rem 1rem 0rem 1rem;
        margin-top: 40px;
        border-radius: 50% 50% 0 0;
        position: relative;
        overflow: hidden;
    }

    .bubble::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 200%;
        height: 100px;
        background-color: #E0E0E0;
        border-radius: 50%;
        z-index: -1;
    }

    .innerbubble{
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width: 768px) {
        .innerbubble{
            padding-top: 40px;
        }
    }

    #backgroundimage {
    width: 100%;
    height: 37.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 1.5rem;
    }

    #backgroundimage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the transparency (0.5 here) to your liking */
    z-index: 1; /* Adjust the z-index if needed */
    }

    .title{
    margin-top: 12rem;
    font-weight: bolder;
    font-size: 1.75rem;
    }

    .subtitle{
        font-weight: lighter;
    }

    .rest{
        font-weight:lighter;
    }

    .title, .subtitle, .rest {
    color: #f8f8ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    z-index: 2;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    }

    @media(max-width:992px){
    .title{
        margin-top: 5rem;
        font-size: 1.5rem;
        }

    #backgroundimage {
        height: 25rem;
        }
        .forsmallpost{
        padding: 0.5rem;
        }
        .titlehead{
        -webkit-line-clamp: 5;
         /*Limit to 5 lines */
        }
    }